[Desktop Entry]
Type=Application
NoDisplay=true
X-KDE-AliasFor=systemsettings
Exec=systemsettings kcm_proxy
Icon=preferences-system-network-proxy
Name=Proxy