[Desktop Entry]
Type=Application
Exec=ktelnetservice6 %u
Icon=utilities-terminal
MimeType=x-scheme-handler/telnet;x-scheme-handler/rlogin;x-scheme-handler/ssh;
NoDisplay=true
